.New-variation-edit-button{
	display: flex;
	align-items: center;
}

.New-variation-edit-button button{
	border: none;
	color: black;
	font: inherit;
	cursor: pointer;
}

.Edit-menu{
	display: flex;
	align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.Edit-options button {
        background: none;
        border: none;
        cursor: pointer;
}
.item-options{
	align-items: left;
}
.item-options button{
	padding: 10px;
}
#remove-button{
	border: 2px solid black;
	color: black;
	font-weight: 600;
	background-color: white;
}
#add-button{
	background-color: black;
	color: white;
	font-weight: 600;
	border: 2px solid black;
}